<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- Footer -->
<footer class="mt-auto">
    <div class="container">
        <p class="d-flex justify-content-center mt-3">Copyright © 2024, NWPost. All Rights Reserved.</p>
    </div>
</footer>
</body>
</html>