<!-- header -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>

<div class="container no-content ">
    <h1 class="text-center status-code">404</h1>
    <h1 class="text-center content-code">Content Not Found!</h1>
</div>

<!-- footer -->
<%- include('partials/footer.ejs') %>