<!-- header -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>

<main >
    <div class="container no-content ">
        <h1 class="text-center status-code">404</h1>
        <h1 class="text-center content-code">Content Not Found!</h1>
    </div>

</main>

<!-- footer -->
<%- include('partials/footer.ejs') %>