* {
    box-sizing: border-box;
    text-align: justify;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding-bottom: 7rem;
}

main {
    margin-bottom: 1.5rem;
}

footer {
    background-color: #2B3035;
}

ul {
    list-style: none;
}

p {
    font-size: 20px;
}

.content {
    padding: 20px;
    color: #89A8B2;
}

.content:hover {
    color: #D9EAFD
}

.date {
    font-size: 1rem;
}

.no-content {
position: relative;
top: 12.4rem;
}

.status-code, .content-code {
    font-size: 5rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 990px) {
    .context {
        font-size: 18px;
    }

    .date {
        font-size: 0.9rem;
    }

    textarea {
        height: 300px;
    }

    /* .submit {
    } */

    .status-code, .content-code {
        font-size: 3rem;
    }

    footer > div > p {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 750px) {
    footer > div > p {
        font-size: 10px;
    }
}

@media screen and (max-width: 478px) {
    .status-code, .content-code {
        font-size: 2rem;
    }
}